/* Estilos generales */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 480px;
  margin: 0;
  padding-bottom: 1em;
}

* {
  box-sizing: border-box;
}


.container {
  text-align: center;
  margin: 0 1.25em;
}

/* Botones */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0;
  text-shadow: 0px 0px 1em rgba(0, 0, 0, 0.523);
}

button:hover {
  background-color: #0056b3;
}

/* Botón deshabilitado */
button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Caja de salida de texto */
pre {
  background-color: #282c34;
  color: #50fa7b;
  text-align: left;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 0.5em;
  margin: 0;
  max-height: 512px;
  overflow-y: auto;
  border: 1px solid #444;
}

/* Color especial para extensiones */
.extension {
  color: #50fafa;
}
.name {
  font-weight: bold;
  font-size: 115%;
}
.domain {
  font-weight: bold;
  color: #ffcc00; /* Amarillo brillante */

}
header {
  background-color: #121212;
}
header>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.v {
  color: #ccc;
  font-style: italic;
}
#github > a {
  color: #007bff;
  font-style: italic;
}

nav {
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: flex-start;
}